<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <div  th:fragment="bookForm">
            
                        <div class="form-group">

                            <label for="key">Key</label><span >(if this field is empty, the KEY will be generated)</span>
                            <input type="text" th:field="*{key}" class="form-control" name="key"/>
                            <p class="alert-danger" th:if="${#fields.hasErrors('key')}" th:errors="*{key}">Virheviesti</p>
                        </div>

            
                        <div class="form-group">
                             <span >*</span>
                            <label for="authors">Author(s) <span>(separate multiple authors with 'and')</span></label>
                            <input type="text" id="authors"  class="form-control"  name="authors"/>
                            <p class="alert-danger" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}">Virheviesti</p>
                        </div>
                        <div class="form-group">
                            <span >*</span>
                            <label for="title">Title</label>

                            <input type="text" th:field="*{title}" class="form-control" name="title" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Virheviesti</p>
                        </div>
                        <div class="form-group">
                            <span >*</span>
                            <label for="year">Year</label>
                            <input type="text" th:field="*{year}" class="form-control" name="year" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Virheviesti</p>
                        </div>


                        <div class="form-group">
                            <span >*</span>
                            <label for="publisher">Publisher</label>
                            <input type="text" th:field="*{publisher}" class="form-control" name="publisher" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Virheviesti</p>
                        </div>

                        <div class="form-group">     
                            <label for="address">Address</label>
                            <input type="text" th:field="*{address}" class="form-control" name="address"/>
                            <p class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Virheviesti</p>
                        </div>

                        <div class="form-group">     
                            <label for="series">Series</label>
                            <input type="text" th:field="*{series}" class="form-control" name="series" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('series')}" th:errors="*{series}">Virheviesti</p>
                        </div>

                        <div class="form-group"> 
                            <label for="edition">Edition</label>
                            <input type="text" th:field="*{edition}" class="form-control" name="edition" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}">Virheviesti</p>
                        </div>   

                        <div class="form-group">
                            <label for="month">Month</label>
                            <input type="text" th:field="*{month}" class="form-control" name="month" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('month')}" th:errors="*{month}">Virheviesti</p> 
                        </div> 

                         <div class="form-group">

                            <label for="volume">Volume</label>
                            <input type="text" th:field="*{volume}" class="form-control" name="volume" />
                            <p class="alert-danger" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}" >Virheviesti</p>
                        </div>

                        <div class="form-group">     
                            <button type="submit" name="save" class="btn btn-success">Save</button>
                        </div>
            
        </div>
       
    </body>    
</html>