<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <div  th:fragment="mandatory">
            
            <div class="form-group">
                 <span >*</span>
                <label for="author">Author(s)</label>
                <input type="text" th:field="*{authors}" class="form-control" />
                <p class="alert-danger" th:if="${#fields.hasErrors('authors')}" th:errors="*{author}">Virheviesti</p>
            </div>
            <div class="form-group">
                <span >*</span>
                <label for="title">Title</label>
                <input type="text" th:field="*{title}" class="form-control" name="title"/>
                <p class="alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Virheviesti</p>
            </div>
            <div class="form-group">
                <span >*</span>
                <label for="year">Year</label>
                <input type="text" th:field="*{year}" class="form-control" name="year"/>
                <p class="alert-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Virheviesti</p>
            </div>
            
        </div>
       
    </body>    
</html>

