<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <div  th:fragment="series">
            
            <div class="form-group">     
                <label for="series">Series</label>
                <input type="text" th:field="*{series}" class="form-control" name="series"/>
                <p class="alert-danger" th:if="${#fields.hasErrors('series')}" th:errors="*{series}">Virheviesti</p>
            </div>
            
        </div>
       
    </body>    
</html>
