<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <div th:fragment="success">
            <p class="alert-success">
                Reference added succesfully!
            </p>
        </div>
       
    </body>    
</html>
