<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>


        <div class="container">

            <div class="col-md-4 col-md-offset-2">

                <h1> All references </h1>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Reference</th>       
                        </tr>
                    </thead>

                    <tbody>

                        <tr th:each="reference : ${references}">
                            <td><a th:text="${reference.type}"></a></td>
                            <td><a th:text="${reference}"></a></td>
                            
                            
                            <th><form th:method="EDIT" th:action="@{/references/{id}/edit (id=${reference.id})} "><input type="submit" class="btn btn-sm" value="Edit"/></form></th>
                            <th><form th:method="DELETE" th:action="@{/references/{id} (id=${reference.id})} "><input type="submit" class="btn btn-danger btn-sm" value="Delete"/></form></th>

                        </tr>

                    </tbody>
                </table>
                
                <div th:if="${newReference != null}">
                    <div th:replace="fragments/success :: success"></div>
                </div>
            </div>

            <div class="col-md-4">

            </div>

        </div>



    </body>    
</html>