<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

               
        <div class="container">
           
            <div class="col-md-4 col-md-offset-2">
                
                <h1>Add book reference</h1>
                <span>* = mandatory field</span>
                
                 <form th:action="@{/books}" th:method="POST" th:object="${book}">
                     
                     <div th:replace="fragments/mandatoryFields :: mandatory">
                         
                     </div>    
                    <div class="form-group">
                        <span >*</span>
                        <label for="publisher">Publisher</label>
                        <input type="text" th:field="*{publisher}" class="form-control"/>
                        <p class="alert-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Virheviesti</p>
                    </div>    
                      <div class="form-group">     
                        <label for="address">address</label>
                        <input type="text" th:field="*{address}" class="form-control"/>
                        <p class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Virheviesti</p>
                    </div>    
                    <div class="form-group">     
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>    
                </form>
                
                <div th:if="${newReference != null}">
                    <div th:replace="fragments/success :: success"></div>
                    <div th:text="${newReference}"></div>
                </div>
            </div>
            
            <div class="col-md-4">
                
            </div>

        </div>


       
    </body>    
</html>