<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.2.0/js/jquery.min.js"></script>

    </head>
    <body>
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

               
        <div class="container">
           
            <div class="col-md-4 col-md-offset-2">
                
                <h1>Add book reference</h1>
                
                 <form th:action="@{/books}" th:method="POST" th:object="${book}">
                     
                     <div class="form-group">
                        <label for="author">Author(s)</label>
                        <input type="text" th:field="*{author}" class="form-control"/>
                    </div>
                    <div class="form-group"> 
                        <label for="title">Title</label>
                        <input type="text" th:field="*{title}" class="form-control"/>
                    </div>
                    <div class="form-group">  
                        <label for="year">Year</label>
                        <input type="text" th:field="*{year}" class="form-control"/>
                    </div>    
                    <div class="form-group">     
                        <label for="publisher">Publisher</label>
                        <input type="text" th:field="*{publisher}" class="form-control"/>
                    </div>    
                    <div class="form-group">     
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>    
                </form>
                
            </div>
            
            <div class="col-md-4">
                
            </div>

        </div>


        <div class ="form">
       
            <div th:if="${reference=='inproceedings'}">
                <form action="#" th:action="@{/home}" method="POST">
                    <p><label for="author">Author(s)</label>: <input type="text" name="author" id="author"/></p>
                    <p><label for="title">Title</label>: <input type="text" name="title" id="title"/></p>
                    <p><label for="booktitle">Book's title</label>: <input type="text" name="booktitle" id="booktitle"/></p>
                    <p><label for="year">Year</label>: <input type="text" name="year" id="year"/></p>
                    <p><label for="startpage">Start page</label>: <input type="text" name="startpage" id="startpage"/></p>
                    <p><label for="endpage">End page</label>: <input type="text" name="endpage" id="endpage"/></p>
                    <p><input type="submit" value="Save" /></p>
                </form>
            </div>

        </div>

    </body>    
</html>