<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Article</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" th:href="@{/css/site.css}"/>
        <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    </head>
    <body>
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

               
        <div class="container">
           
            <div class="col-md-6 col-md-offset-2">
                
                <h1 class="text-center">Edit an article reference</h1>
                
                <div class="container-fluid-bordered" >    
                    <span>* = mandatory field</span>

                    <form th:action="@{/editArticle/{id}(id=${article.id})}" th:method="POST" th:object="${article}">

                         <div th:replace="fragments/articleForm :: articleForm">

                        </div>

                    </form>
                    
                    <form th:method="DELETE" th:action="@{/references/{id} (id=${article.id})} ">
                        <input type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm" value="Delete"/>
                    </form>
                </div>
               
            </div>
            
            

        </div>


       
    </body>  
   

</html>
