<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" th:href="@{/css/site.css}"/>
        <script type="text/javascript" th:src="@{/js/site.js}"></script>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="container-fluid-bordered">
                        <div class="bg-faded">
                            <h1 class="text-center">Welcome to Reference manager</h1>
                        </div>

                    </div>


                </div>

            </div>
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        
                        <div class="col-md-2 col-md-offset-4">
                            <div class="dropdown">   

                                <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >
                                    Add a new reference
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-toggle" th:href="@{/books}">Book</a></li>
                                    <li><a class="dropdown-toggle" th:href="@{/inproceedings}">Inproceedings</a></li>
                                    <li><a class ="dropdown-toggle" th:href="@{/article}">Article</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    

            <div class="row">

                <div class="col-md-4 col-md-offset-2">

                    <div class="container-fluid" th:if="${newReference != null}">

                        <p class="alert-success" id="hideSuccess">
                            Reference added successfully!
                            <button type="button" class="close" id="hideSuccessButton">&times;</button>
                        </p>

                    </div>

                     <div class="container-fluid" th:if="${updatedReference != null}">

                        <p class="alert-success" id="hideSuccess">
                            Reference updated successfully!
                            <button type="button" class="close" id="hideSuccessButton">&times;</button>
                        </p>

                    </div>
             
            

                    <div class="container-fluid" th:if="${delete != null}">

                        <p class="alert-success" id="hideSuccess">
                            Reference deleted successfully!
                            <button type="button" class="close" id="hideSuccessButton">&times;</button>
                        </p>

                    </div>

                    
                </div>    
            </div>        
            <div class="row">

                <div class="col-md-8 col-md-offset-2">        
                    <form th:method="GET" th:action="@{/search} ">
                        <label>Search:</label>
                        <input type="text" name="search"/>
                        <input type="submit" class="btn btn-primary btn-sm" value="Search"/>
                    </form>


                    <form th:method="GET" th:action="@{/download} ">
                        <label>Name of the file:</label>
                        <input type="text" name="fileName"/>
                        <input type="submit" class="btn btn-primary btn-sm" value="Download.bib"/>
                        <!--                
                                        </form>
                         <form action="#" th:method="POST" th:action="@{/download2}" th:object="${refs}">    
                        -->
                        <table class="table table-striped table-bordered" id="referenceTable">
                            <thead>
                                <tr>
                                    <th><label><input  type="checkbox" id="selectAllBox" name="selectAllBox" />Select all</label></th>
                                    <th>Reference</th>
                                    <th>Tags</th>

                                </tr>
                            </thead>

                            <tbody>

                                <tr th:each="reference : ${references}">
                                    <td><input type="checkbox"  name="refs" th:value="${reference.id}"></input></td>
                                    <td><a th:text="${reference}"></a></td>
                                    <td><span th:each="tag : ${reference.tags}"><a
                                                th:text="${tag} + ' '" th:href="@{'/search?search={search}'(search=${tag})}"></a></span></td>
                                    <td><a class="btn btn-primary" th:href="@{/references/{id} (id=${reference.id})}">EDIT</a></td>
                                    
                                    <!--
                                    <th><form th:method="DELETE" th:id="'deleteForm' + ${reference.id}" th:action="@{/references/{id} (id=${reference.id})} "><input type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm" value="Delete" form="'deleteForm' + ${reference.id}"/></form></th>
                                    -->
                                </tr>

                            </tbody>
                        </table>
                        <!--
                                           <label>Name of the file:</label>
                                           <input type="text" name="fileName"/>
                                           <input type="submit" class="btn btn-primary btn-sm" value="Download.bib"/>
                        -->          
                    </form>





                </div>
            </div>
        </div>    

    </body>    
</html>